<%= form_with model: blog_post do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div>
          <%= message %>
        </div>
        <% end %>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: "w-1/2" %>
  </div>

  <div class="mt-4">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="mt-4">
    <%= form.label :cover_image %>
    <%= cl_image_tag blog_post.cover_image.key, class: "w-1/3" if blog_post.cover_image.present? %>
    <%= form.file_field :cover_image %>
  </div>

  <div class="mt-4">
    <%= form.label :caption %>
    <%= form.text_field :caption %>
  </div>

  <div class="mt-4">
    <%= form.label :published_at %>
    <%= form.datetime_local_field :published_at %>
  </div>

  <div class="mt-4 w-1/4 bg-transparent hover:bg-blue-500 text-blue-700 text-center text-sm font-medium hover:text-white py-2 border border-blue-500 hover:border-transparent rounded">
    <%= form.button %>
  </div>
<% end %>
