<section class="mx-auto md:w-2/4 px-10 mb-20">
  <div class="bach-btn pb-4">
    <%= link_to "< back home", root_path, class: "no-underline text-center text-sm font-sans font-thin hover:text-lime-900 transition duration-400" %>
  </div>

  <div class="post-content" data-controller="share" data-share-url-value="<%= blog_post_url(@blog_post) %>" data-share-title-value="<%= @blog_post.title %>">
    <div class="post-title">

    <h1 class="text-lime-800 no-underline font-semibold text-2xl font-thin uppercase font-serif">
      <%= @blog_post.title %>
    </h1>

      <p class="font-light text-xs italic pt-1 pb-4">Published: <%= time_ago_in_words(@blog_post.created_at) %></p>
    </div>

    <div class="post-body pb-10 font-thin">
      <p><%= @blog_post.content %></p>
      <% if user_signed_in? %>
      <div class="py-6">
        <%= render 'shared/show_links' %>
      </div>
        <% else %>
        <div class="btn-share py-4 no-underline text-sm font-sans font-thin hover:text-lime-900 transition duration-400">
          <%= button_to "> share post", "", data: {action: "click->share#share"} %>
        </div>
        <%= render 'shared/blog_pagination' %>
      <% end %>
    </div>
  </div>
</section>
