<section class="mx-auto md:w-2/4 px-10">
  <div class="bach-btn pb-4">
    <%= link_to "> back home", root_path, class: "no-underline text-center text-sm font-sans font-thin hover:text-lime-900 transition duration-400" %>
  </div>
  <h1 class="text-lime-800 no-underline font-semibold text-2xl font-thin uppercase font-serif"><%= @blog_post.title %></h1>
  <p class="font-light text-xs italic pt-1 pb-4">Published: <%= time_ago_in_words(@blog_post.created_at) %></p>
  <p class="pb-8 font-thin"><%= @blog_post.content %><p>
  <%= render 'shared/show_links' %>
</section>
