<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body>
      <%= render 'shared/navbar' %>
    <div class="mx-auto md:w-2/4">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
        <div class="px-10 pb-20 flex flex-wrap md:justify-center">
          <%= yield %>
        </div>
      </div>
    <%= render 'shared/footer' %>
  </body>
</html>
